html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    outline: none;
}

svg {
    cursor: pointer;
}

a, svg, path {
    text-decoration: none;
    color: initial;
    cursor: pointer;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

h1, h2, h3 {
    color: rgb(76, 84, 93);
    margin: 10px auto;
    font-size: 1.8rem;
}

a:active {
    color: initial;
}

button {
    outline: none;
    cursor: pointer;
}

p {
    color: rgb(159, 171, 178);
    margin: 15px auto;
    font-size: 1.1rem;
}

section {
    padding: 0 10px;
}

#wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

#top {
    background: url(/images/bg-header-desktop.png) no-repeat center top;
}

.logo {
    padding-top: 80px;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 72px;
}

.header, .about_header, .access_head, .workflow_head {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 42px;
}

.button {
    display: flex;
    margin: 40px auto 0;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px;
}

#btn {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    padding: 13px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

#btn:nth-of-type(1) {
    background: rgba(39, 174, 96, 1.0);
    border: 1px solid transparent;
    border-bottom: 3px solid rgba(19, 136, 68, 1);
    margin-right: 20px;
}

#btn:nth-of-type(2) {
    background: rgba(142, 68, 173, 1.0);
    border: 1px solid transparent;
    border-bottom: 3px solid rgb(88, 45, 106, 1);
}

#btn:nth-of-type(1):hover {
    box-shadow: 0px 0px 20px 0px rgba(19, 136, 68, 1);
}

#btn:nth-of-type(2):hover {
    box-shadow: 0px 0px 20px 0px rgb(88, 45, 106, 1);
}

.about_header {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.about_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1200px;
}

.big_pic {
    display: flex;
    justify-content: center;
}

.big_pic img {
    max-width: 752px;
    width: 95%;
}

.included {
    max-width: 400px;
    display: grid;
    grid-gap: 20px;
    flex-direction: column;
}

.tech h3 {
    font-size: 1.3rem;
}

#access {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 100px auto 0;
}

.devices {
    margin: 30px auto;
}

.devices img {
    max-width: 905px;
    width: 95%;
}

#workflow {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto 50px;
}

.abilities {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    overflow: hidden;
}

.flow_div {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.current {
    display: flex;
}

.abilities_holder {
    display: flex;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#prev, #next {
    animation: fadeinout 2s infinite;
    -webkit-animation: fadeinout 2s infinite;
    opacity: 0;
    max-width: 36px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    z-index: 20;
}

#prev {
    left: 15px;
}

#next {
    right: 15px;
}

/* NEXT PREV KEYFRAMES */

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

/* NEXT PREV KEYFRAMES */

.firms {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-gap: 20px 10px;
    margin: 30px auto;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
}

.firms img {
    margin: 20px auto;
}

#download {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

#download .button {
    margin: 20px auto;
    padding: 0;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: 80px auto 0;
    padding: 30px;
    background: rgba(159, 171, 178, 0.35);
}

#footer .logo {
    padding: 0;
}

.links {
    display: grid;
    grid-auto-flow: column;
    max-width: 600px;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px auto;
}

.link_section {
    display: flex;
    flex-direction: column;
}

.link_section a:hover {
    color: rgb(38, 186, 164);
}

.social {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.social svg:hover path {
    fill: rgb(38, 186, 164);
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .about_content {
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px auto 0;
    }
    .included, #access {
        margin: 30px auto 0;
        text-align: center;
    }
    html {
        font-size: 88%;
        text-align: center;
    }
    #workflow, .abilities_holder, .firms {
        margin: 10px auto;
    }
    h1, h2, h3 {
        font-size: 26px !important;
    }
    #footer {
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

@media (max-width: 479px) {
    #btn {
        font-size: 0.9rem;
        padding: 10px 25px;
    }
    .button {
        padding: 0 0 10px;
    }
    .logo img {
        max-width: 48px;
    }
    #prev, #next {
        max-width: 28px;
    }
    .flow_div {
        width: 70%;
    }
}